body {
  font-family: "Poppins", sans-serif;
}

/* Header Styles */
.header {
  background-image: url(../images/ahsBackground.png);
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 500px;
  height: 400px;
  background-position: bottom;
}
#pageTopic {
  text-align: center;
  font-size: 30px;
  font-weight: 900;
}
/* Primary Color */
.colorContainer {
  display: inline-block;
  margin: 15px;
}
.swatch {
   height: 200px;
   width: 170px;
   border: 1px solid black;
}
.hexCode {
   padding: 15px;
   text-align: center;
   border: 1px solid black;
   border-top: none;
   border-bottom-left-radius: 7px;
   border-bottom-right-radius: 7px;
}
.brandRed {
  background-color: #EC1D30;
}
.darkGrey {
  background-color: #545454;
}
.lightGrey {
  background-color: #E3E3E3;
}
.white {
  background-color: #FFFFFF;
}
.lightBlue {
  background-color: #12A0F6;
}
.red {
  background-color: #EC1D30;
}
.pink {
  background-color: #FC0564;
}
.lightBlue {
  background-color: #00D4FA;
}
.lightGreen {
  background-color: #7BE03C;
}
/* Typography CSS */
.type_container {
   display: inline-block;
   margin: 20px;
}
.large {
    font-size: 66px;
    margin-bottom: 15px;
    margin-bottom: 15px;
    margin-top: 0;
}
.light {
    font-weight: 100;
}
.regular {
    font-weight: 500;
}
.bold {
    font-weight: 700;
}
.typography h1 {
    font-weight: 900;
    font-size: 50px;
}
.typography h2 {
    font-weight: 700;
    font-size: 42px;
}
.typography h3 {
    font-weight: 700;
    font-size: 34px;
}
.typography h4 {
    font-size: 26px;
}

/* UI Elements */
.button {
   display: inline-block;
   padding: 15px;
   margin: 15px;
   width: 150px;
   font-size: 18px;
   text-align: center;
   color: white;
}
.primary {
  background-color: #FFFFFF;
  border: 4px solid #545454;
  border-radius: 20px;
  color: #545454;
}
.primaryHover {
  background-color: #E3E3E3;
  border: 4px solid #545454;
  border-radius: 20px;
  color: #545454;
}
.primaryActive {
  background-color: #545454;
  border: 4px solid #545454;
  border-radius: 20px;
}
.donatePrimary { 
background-color: #FFFFFF;
border: 4px solid #E13836;
border-radius: 20px;
color: #E13836;
}
.donateHover {
  background-color: #E13836;
  border: 4px solid #E13836;
  border-radius: 20px;
}
.sectionHead {
  border-bottom: 8px solid #DDDDDD;
}
.mainLogo {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.altLogo {
  padding: 20px;
}
.ahsIcon {
  padding: 20px;
}

